<div class="r-form">
  <div class="r-form__loader" v-if="loading">
    <div class="r-form__loader-holder">
      <loader />
    </div>
  </div>
  <div class="r-form__content" v-if="!loading && roverManifest">
    <h1 class="r-form__name">
      {{ roverManifest.photo_manifest.name }} rover
    </h1>
    <ul class="r-form__info">
      <li class="r-form__info-item">
        <span class="r-form_info-name">launch date</span>
        <span class="r-form_info-value">
          {{ roverManifest.photo_manifest.launch_date | dateToString }}
        </span>
      </li>
      <li class="r-form__info-item">
        <span class="r-form_info-name">landing date</span>
        <span class="r-form_info-value">
          {{ roverManifest.photo_manifest.landing_date | dateToString }}
        </span>
      </li>
      <li class="r-form__info-item" v-if="roverManifest.photo_manifest.status === 'complete'">
        <span class="r-form_info-name">end date</span>
        <span class="r-form_info-value">
          {{ roverManifest.photo_manifest.max_date | dateToString }}
        </span>
      </li>
      <li class="r-form__info-item">
        <span class="r-form_info-name">status</span>
        <span class="r-form_info-value">
          {{ roverManifest.photo_manifest.status }}
        </span>
      </li>
      <li class="r-form__info-item">
        <span class="r-form_info-name">total photos</span>
        <span class="r-form_info-value">
          {{ roverManifest.photo_manifest.total_photos }}
        </span>
      </li>
    </ul>
    <form @submit.prevent="handleSubmit" class="r-form__search">

      <div class="r-form__field">
        <input-field
          label="Coose Earth date"
          type="date"
          v-model="date"
          :error="$v.date.$error"
          :min="roverManifest.photo_manifest.landing_date"
          :max="roverManifest.photo_manifest.max_date"
        />
      </div>

      <div class="r-form__field" :class="{'r-form__field--disabled': !date}">
        <label
          :for="`camera-${id}`"
          class="r-form__label"
        >
          Choose camera
        </label>
        <select
          name="camera"
          :id="`camera-${id}`"
          v-model="camera"
          class="r-form__select"
          :class="{ 'r-form__select--error': $v.camera.$error }"
          :disabled="!date"
        >
          <option
            v-for="cam of roverCameras"
            :value="cam.toLowerCase()"
            :key="cam"
          >{{ cam }}</option>
        </select>
        <div class="r-form__error" v-if="$v.camera.$error">
          This field is required
        </div>
      </div>

      <div class="r-form__field">
        <ui-button
          type="submit"
          class="r-form__submit"
          :disabled="photosLoading"
        >
          find photos
        </ui-button>
      </div>
    </form>
  </div>
</div>