.app-logo
  max-width: max-content
  display: flex
  justify-content: space-between
  align-items: center
  height: 60px

.app-logo__icon
  margin-right: 30px
  height: 100%

.app-logo__text
  font-size: 2em
  font-weight: $font-weight-bold
