<div class="observation container-unscoped">
  <aside class="observation__filter">
    <form @submit.prevent="handleFormSubmit()" class="observation__form obs-form">
      <h2 class="obs-form__heading">
        Fill out the form to get an image
      </h2>
      <input-field
        label="Latitude"
        info="(number from 90 to -90)"
        :error="$v.latitude.$error"
        v-model.number="latitude"
      />

      <input-field
        label="Longtitude"
        info="(number from 180 to -180)"
        :error="$v.longtitude.$error"
        v-model.number="longtitude"
      />

      <input-field
        label="Dim"
        info="(number from 0.1 to 0.9)"
        :error="$v.dim.$error"
        v-model.number="dim"
      />

      <input-field
        label="Date"
        type="date"
        info="(number from 0.1 to 0.9)"
        :error="$v.date.$error"
        v-model="date"
      />

      <div class="obs-form__field">
        <button
          type="submit"
          class="obs-form__submit"
          :disabled="loading"
        >Get image</button>
      </div>
    </form>
  </aside>

  <section class="observation__content">
    <div class="observation__loader" v-if="loading">
      <div class="observation__loader-holder">
        <loader />
      </div>
    </div>

    <div class="observation__img-holder" v-if="imageData && !loading">
      <img
        :src="imageData"
        alt="earth observation"
        class="observation__img"
      >
    </div>

    <div
      class="observation__massage"
      v-if="!imageData && !loading && notExistsMessage"
    >{{ notExistsMessage }}</div>
  </section>
</div>
