// colors

$color-background-darken: #010203
$color-background-dark: #0a0a0a
$color-background-medium: #151315
$color-background-light: #1b1b1b
$color-background-lighten: #3b3c36

$color-text-primary: #ffffff
$color-text-secondary: #f8f9fa

// fonts

$font-family-base: 'Jura', sans-serif

$font-weight-light: 300
$font-weight-regular: 400
$font-weight-medium: 500
$font-weight-semi-bold: 600
$font-weight-bold: 700

