<div class="home">
  <div class="home__slider-holder">

    <swiper
      :options="swiperOptions"
      class="home__slider"
      v-if="mainSliderData.length && !mainSliderLoading"
      ref="swiperRef"
    >
      <swiper-slide
        v-for="slide in mainSliderData"
      >
        <div class="home__slide slide">
          <div
            class="slide__img-holder"
            @mouseenter="clearSliderInterval"
            @mouseleave="setIntervalForSwiperAutoplay"
          >
            <img
              v-if="!slide.url.includes('youtube')"
              :src="slide.url"
              :alt="slide.title"
              :title="slide.explanation"
              class="slide__img"
            />
            <iframe
              v-else
              width="560"
              height="315"
              class="slide__img"
              :src="slide.url"
              :title="slide.explanation"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="slide__text container-unscoped">
            <h2 class="slide__title">
              {{ slide.title }}
            </h2>
            <p class="slide__description">
              {{ slide.explanation }}
            </p>
          </div>
        </div>
      </swiper-slide>
    </swiper>

    <div class="home__loader" v-if="mainSliderLoading">
      <div class="home__loader-holder">
        <loader/>
      </div>
    </div>

    <div class="home__slider-footer container-unscoped">
      <button
        class="home__reload"
        @click="fetchMainSliderData()"
        :disabled="mainSliderLoading"
      >
        see another images
        <i class="home__reload-icon"></i>
      </button>
    </div>
  </div>
</div>